---
layout: default
redirect_from:
  - /pedalo-documentation
---
<div class="home">
  <p>
    Cyke is a cyclo-logistics software developed by Cargonautes (formerly OLVO) and offered to other companies to streamline their delivery operations.
  </p>

  <p>
    Cyke enables end-to-end management of cargo bike deliveries, from customer requests to drop-offs at recipients, including commercial services, dispatch, and couriers.
  </p>

  <p>
    Cyke's strong commitment is to simplify the client's experience to the fullest. Some configuration work is required by the delivery company to ensure their clients have the simplest interface possible.
  </p>

  <p>
    Interested in using Cyke? Get in touch with us at
    <a href="mailto:cyke@cargonautes.fr">cyke@cargonautes.fr</a>
  </p>

  <ul>
    {% for page in site.pages %}
      {% if page.category == 'Documentation' and page.subpage != true %}
        <li>
          <a class="page-link" href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p style="margin-top: 64px;">
    🇫🇷 Cette documentation technique est rédigée en anglais, comme c'est l'usage en informatique. Si vous cherchez des informations sur Cyke en français, n'hésitez pas à consulter <a href="https://www.cyke.io/fr">le site de Cyke</a> ou à nous contacter sur <a href="mailto:cyke@cargonautes.fr">cyke@cargonautes.fr</a>.
    <br>
    <br>
    🇪🇸 Esta documentación técnica está redactada en inglés, como es común en el ámbito de la tecnología de la información. Si buscas información sobre Cyke en español, no dudes en visitar el <a href="https://www.cyke.io/es">sitio web de Cyke</a> o ponerte en contacto con nosotros en <a href="mailto:cyke@cargonautes.fr">cyke@cargonautes.fr</a>.
    <br>
    <br>
    🇮🇹 Questa documentazione tecnica è scritta in inglese, come da prassi nel settore informatico. Se cerchi informazioni su Cyke in italiano, non esitare a consultare il <a href="https://www.cyke.io/it">sito di Cyke</a> o a contattarci su <a href="mailto:cyke@cargonautes.fr">cyke@cargonautes.fr</a>.
  </p>
</div>
