<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="https://www.cyke.io" target="_blank">https://www.cyke.io</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

  </div>

</footer>
