@use "sass:color";
@use "variables";

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: variables.$base-font-weight #{variables.$base-font-size}/#{variables.$base-line-height}
    variables.$base-font-family;
  color: variables.$text-color;
  background-color: variables.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: calc(variables.$spacing-unit / 2);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: variables.$small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: variables.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: 20px;
  border-spacing: 0 1rem;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$base-font-weight;
}

/**
 * Links
 */
a {
  color: variables.$brand-color;
  text-decoration: none;

  &:visited {
    color: color.adjust(variables.$brand-color, $lightness: -15%);
  }

  &:hover {
    color: variables.$text-color;
    text-decoration: underline;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: variables.$grey-color;
  border-left: 4px solid variables.$grey-color-light;
  padding-left: calc(variables.$spacing-unit / 2);
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid variables.$grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{variables.$content-width} - (#{variables.$spacing-unit} * 2));
  max-width: calc(#{variables.$content-width} - (#{variables.$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: variables.$spacing-unit;
  padding-left: variables.$spacing-unit;
  @extend %clearfix;

  @include variables.media-query(variables.$on-laptop) {
    max-width: -webkit-calc(#{variables.$content-width} - (#{variables.$spacing-unit}));
    max-width: calc(#{variables.$content-width} - (#{variables.$spacing-unit}));
    padding-right: calc(variables.$spacing-unit / 2);
    padding-left: calc(variables.$spacing-unit / 2);
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: variables.$grey-color;
    }
  }
}
