.error {
  font-family: 'Karla', Avenir, Futura, sans-serif;
  font-size: 16px;
  padding: 70px 20px;
  text-align: center;

  .error-image {
    margin-bottom: 40px;
    width: 300px;
  }

  .error-type {
    font-weight: bold;
    margin-bottom: 25px;
  }

  .error-message {
    margin-bottom: 40px;
  }

  .btn-back {
    border-color: #0f59bf;
    color: #0f59bf;
    border: 1px solid;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    background-color: transparent;
    transition: all .2s linear;
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
  }
}

